<h2 id="title">Welcome to Ember Data Undo/Redo</h2>

<button {{action 'dirty'}}>Make Model Dirty</button>
<button {{action 'dirty' 'name'}}>Make Model Name Dirty</button>
<button {{action 'dirty' 'age'}}>Make Model Age Dirty</button>
<button {{action 'checkpoint'}}>Set Model Checkpoint</button>
<button {{action 'destroyModel'}}>Delete Model</button>

<h3>Name: {{model.name}}</h3>
<h3>Age: {{model.age}}</h3>

<div style="float: left; width: 250px;">
{{undo-redo-button item=model type='undo'}}
</div>

<div style="float: left; width: 250px;">
{{undo-redo-button item=model type='redo'}}
</div>

{{outlet}}
