<div class="test-buttons">
  <button class="blue" {{action 'dirty'}}>Make Model Dirty</button>
  <button class="yellow" {{action 'checkpoint'}}>Set Model Checkpoint</button>
  <button class="red" {{action 'destroyModel'}}>Delete Model</button>
</div>

<h3>Name: {{model.name}}</h3>
<h3>Age: {{model.age}}</h3>

<div style="float: left; width: 250px;">
{{undo-redo-button item=model type='undo'}}
</div>

<div style="float: left; width: 250px;">
{{undo-redo-button item=model type='redo'}}
</div>

{{outlet}}
